header {
    overflow: hidden;
    background-color: black;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 10%;
    border-right: 3px solid white;
}
.navbar li{
    color: white;
    align-items: center;
    padding: 70% 20% 50% 20%;
    list-style: none;
}
.btnMenu:hover {
    transform: scale(0.9);
}
.btnMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    margin: 10%;
}
.btnMenu img{
    width: 80px;
}
.contentPage{
    display: flex;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    margin: auto;
}
.midiasDigitais{
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin: 2% 10% 0% 0%;

}
.redessSociais img{
    width: 40px;
    padding: 10px;
}
.redessSociais:hover{
    transform: scale(0.9);
}
.logoSite{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 13% 0% 5% 0%;
}
.link{
    text-decoration: none;
    color: white;
}
.textFooter{
    position: fixed;
    bottom: 1%;
}