*{
    padding: 0;
    margin: 0;
  }
.login{
    width: 100%;
    height: 46.3rem;
    background-color: black;
    background-image: url(./img/capa-movie.png);
    background-size: 92%;
    background-repeat: no-repeat;  
    background-position: center;
    background-position-y: 70%;
    display: flex;
    align-items: flex-end;
}
.form-login{
    width: 80%;
    height: 20rem;
    background-color: #564D4D;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 6% 0 27% 0;
}