*{
    padding: 0;
    margin: 0;
  } 
.phrase-movie{
    width: 100%;
    height: 1rem;
    background-color: black;
   
}
.title-movie{
    width: 100%;
    height: 5rem;
}
.login{
    width: 100%;
    height: 41.3rem;
    background-color: black;
    background-image: url(./img/capa-movie.png);
    background-size: 75%;
    background-repeat: no-repeat;  
    background-position: center;
    background-position-y: -500%;
    display: flex;
    align-items: flex-end;
}
.form-login{
    width: 65%;
    height: 23rem;
    background-color: #564D4D;
    border-radius: 0.6rem;
    gap: 2rem;
    margin: 0 0 20% 17%;
    opacity: 0.9;
}
.form-inpt{
    width: 100%;
    height: 5rem ;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction: column;
}
#inptEmail,#inptPassword{
    width: 60%;
    height: 1.3rem;
    border-radius: 0.3rem;
   

}